body {
    background-color: #222;
    color: white;
    font-family: "Impact", sans-serif;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto 10px;
    max-width: 100%;
    max-width: 50%;
    
}
label {
    font-size: 35px;
    color: #ff9100;
}

.chuck-norris-label, .chuck-norris-select {
    display: inline-block;
    background: linear-gradient(45deg, #ff7300, #ff9100);
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Impact", sans-serif;
    padding: 10px 20px;
    border: 3px solid #d35400;
    border-radius: 5px;
    box-shadow: 3px 3px 0px #a04000;
    letter-spacing: 2px;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-left: 10px;
    font-size: 34px;
}

.chuck-norris-label:hover, .chuck-norris-select:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 0px #a04000;
}

.chuck-norris-label:active, .chuck-norris-select:active {
    transform: scale(0.95);
    box-shadow: 2px 2px 0px #a04000;
}

.joke-container {
    margin-top: 20px;
    padding: 20px;
    background: #333;
    border: 3px solid #d35400;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 5px 5px 0px #a04000;
    font-size: 30px;
}

button {
    background: linear-gradient(45deg, #ff7300, #ff9100);
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Impact", sans-serif;
    padding: 10px 20px;
    border: 3px solid #d35400;
    border-radius: 5px;
    box-shadow: 3px 3px 0px #a04000;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    font-size: 30px;
}

button:hover {
    box-shadow: 5px 5px 0px #a04000;
}

button:active {
    box-shadow: 2px 2px 0px #a04000;
}
